# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Docker
Dockerfile
docker-compose.yml
.docker/

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
logs/**/*.log

# IDEs
.vscode/
.idea/

# Testing
coverage/
*.lcov

# Optional: ignore environment-specific config
.env.*
